@import "../_variables/variables";

body,
html {
  overflow-x: hidden;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
  @media screen and (min-width: $ui-breakpoint-s-min) {
    max-width: 500px;
  }
  @media screen and (min-width: $ui-breakpoint-sm-min) {
    max-width: 787px;
  }
  @media screen and (min-width: $ui-breakpoint-md-min) {
    max-width: 1012px;
  }
  @media screen and (min-width: $ui-breakpoint-xl-min) {
    max-width: 1220px;
  }
}

.btn-purple-small {
  width: max-content;
  background-color: $ui-color-purple-blue;
  border-radius: 40px;
  padding: 11px 20px;
  color: $ui-color-white;
  text-align: center;
  font-family: "Montserrat-Bold";
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  border: 2px solid transparent;
  transition: $ui-transition-dur;
  @media screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 16px;
    line-height: 16px;
  }
    
  &:hover {
    color: $ui-color-purple-blue;
    border-radius: 40px;
    border: 2px solid $ui-color-purple-blue;
    background: $ui-color-white;
    transition: $ui-transition-dur;
  }
}

.btn-purple-big {
  background-color: $ui-color-purple-blue;
  border-radius: 40px;
  padding: 15px 29px;
  color: $ui-color-white;
  text-align: center;
  font-family: "Montserrat-Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  white-space: nowrap;
  border: 2px solid transparent;
  transition: $ui-transition-dur;
  @media screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 21px;
    line-height: 23px;
    padding: 20px 61px;
  }

  &:hover {
    color: $ui-color-purple-blue;
    border-radius: 40px;
    border: 2px solid $ui-color-purple-blue;
    background: $ui-color-white;
    transition: $ui-transition-dur;
  }
}