@import "../_mixin/mixins";
@import "../_variables/variables";
.header {
    position: relative;
    height: 795px;
    font-family: 'Montserrat-Regular';
    @media screen and (min-width: $ui-breakpoint-md-min) {
        height: 868px;
        margin-bottom: 44px;
    }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
        height: 868px;
        margin-bottom: 22px;
    }

    &__wrapper {
        background-color: $ui-color-gray-blue;
    }

    &__content-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'logo buy-now-btn burger-menu-btn';
        justify-content: space-between;
        align-items: center;
        padding: 31px 16px;
        @media screen and (min-width: $ui-breakpoint-md-min) {
            grid-template-columns: 160px 2fr auto;
            gap: 23px;
            grid-template-areas: 'logo buy-now-btn'
                'nav-menu nav-menu';
            padding: 22px 20px 18px 20px;
        }
        @media screen and (min-width: $ui-breakpoint-xl-min) {
            grid-template-columns: 160px 2fr 145px;
            grid-template-areas: 'logo nav-menu buy-now-btn';
            padding: 30px 60px;
        }
    }

    &__logo {
        @include flex-center;
        grid-area: logo;
        

        &-icon-container {
            width: 43px;
            height: 41px;
            background-image: url('../images/Section_Header/ForkIO-logo.png');
        }

        &-text {
            display: none;
            @media screen and (min-width: $ui-breakpoint-sm-min) {
                display: inline-block;
                color: $ui-color-purple-blue;
                font-family: 'Lato-Regular';
                font-size: 24px;
                font-weight: 700;
                line-height: 16px;
                /* 66.667% */
                text-transform: $ui-text-transform;
                margin-left: 17px;
            }
        }

        &:hover .header__logo-icon-container {
            background-image: url('../images/Section_Header/logo-hover.svg');
            transition: $ui-transition-dur;
        }

        &:hover .header__logo-text {
            color: $ui-color-white;
            transition: $ui-transition-dur;
        }
    }

    &__nav-menu {
        position: absolute;
        @include flex-column;
        top: 13%;
        left: 6%;
        z-index: $ui-index-2;
        width: 86%;
        height: 378px;
        align-items: flex-start;
        background-color: #333;
        @media screen and (min-width: $ui-breakpoint-md-min) {
            @include flex-between;
            flex-direction: row;
            position: static;
            grid-area: nav-menu;
            justify-self: center;
            width: 67%;
            height: auto;
            background-color: transparent;
            align-self: self-start;
        }
        @media screen and (min-width: $ui-breakpoint-xl-min) {
            justify-self: end;
            align-self: center;
            min-width: 440px;
            max-width: 527px;
        }

        &-item {
            width: 100%;
            text-align: left;
            border-bottom: 2px solid #474747;
            @media screen and (min-width: $ui-breakpoint-md-min) {
                width: auto;
                border-bottom: none;
            }
        }

        &-link {
            position: relative;
            display: block;
            width: 100%;
            color: $ui-color-white;
            font-family: 'Montserrat-Regular';
            font-size: 26px;
            line-height: 26px;
            padding: 32px 0px 32px 40px;
            @media screen and (min-width: $ui-breakpoint-md-min) {
                color: $ui-color-purple-blue;
                font-size: 16px;
                line-height: 15px;
                padding: 0px;
            }

            &:active,
            &:focus {
                color: $ui-color-purple-blue;
                transition: $ui-transition-dur;
                @media screen and (min-width: $ui-breakpoint-md-min) {
                    color: $ui-color-white;
                }

            }

            &:hover {
                color: $ui-color-white;
                transition: $ui-transition-dur;
            }

            &:active::before,
            &:focus::before {
                position: absolute;
                top: 15%;
                left: 0;
                content: "";
                width: 8px;
                height: 64px;
                background-color: $ui-color-purple-blue;
                transition: $ui-transition-dur;
                @media screen and (min-width: $ui-breakpoint-md-min) {
                    display: none;
                }
            }
        }
    }

    &__buy-now-btn {
        grid-area: buy-now-btn;
        justify-self: center;
        width: 119px;

        @media screen and (min-width: $ui-breakpoint-md-min) {
            justify-self: end;
            width: 145px;
        }
    }

    &__burger-menu-btn {
        position: relative;
        grid-area: burger-menu-btn;
        justify-self: end;
        width: 26px;
        height: 23px;
        @media screen and (min-width: $ui-breakpoint-md-min) {
            display: none;
        }

        &-lines,
        &-lines::after,
        &-lines::before {
            position: absolute;
            content: "";
            width: 26px;
            height: 3px;
            border-radius: 5px;
            background: $ui-color-white;
        }

        &-lines {
            top: 9px;
        }

        &-lines::before {
            top: -8px;
            right: 0;
            width: 15px;
        }

        &-lines::after {
            top: 8px;
        }
    }

    .main-banner {
        height: 614px;
        background: url('../images/Section_Header/header-bg_desktop.png') center/cover no-repeat border-box;
        padding-top: 49px;
        @media screen and (min-width: $ui-breakpoint-md-min) {
            height: 682px;
            padding-top: 69px;
        }
        @media screen and (min-width: $ui-breakpoint-xl-min) {
            padding-top: 83px;
        }
    
        &__app-title {
            color: $ui-color-white;
            text-align: $ui-text-align-center;
            font-family: 'Montserrat-Bold';
            font-size: 48px;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 19px;
            @media screen and (min-width: $ui-breakpoint-md-min) {
                font-size: 72px;
                line-height: 72px;
            }
            @media screen and (min-width: $ui-breakpoint-xl-min) {
                font-size: 82px;
                line-height: 82px;
            }
        }
    
        &__app-slogan {
            color: $ui-color-purple-blue;
            text-align: $ui-text-align-center;
            font-family: 'Montserrat-Regular';
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 14px;
    
            @media screen and (min-width: $ui-breakpoint-md-min) {
                font-family: "Lato-Regular";
                font-size: 24px;
                line-height: 24px;
            }
    
            @media screen and (min-width: $ui-breakpoint-xl-min) {
                font-family: "Lato-Regular";
                font-size: 38px;
                line-height: 38px;
            }
        }
    
        &__app-version {
            color: $ui-color-light-gray;
            text-align: $ui-text-align-center;
            font-family: "Montserrat-Regular";
            font-size: 14px;
            line-height: 14px;
            /* 100% */
            text-transform: $ui-text-transform;
            @media screen and (min-width: $ui-breakpoint-xl-min) {
                font-size: 16px;
                line-height: 16px;
            }
        }
    
        .download-btn-container {
            position: absolute;
            width: 290px;
            top: 86.5%;
            left: 50%;
            transform: translateX(-50%);
            z-index: $ui-index-1;
            @media screen and (min-width: $ui-breakpoint-md-min) {
                width: 390px;
                top: 88.5%;
            }
            @media screen and (min-width: $ui-breakpoint-xl-min) {
                top: 86.5%;
            }
    
            .download-now-btn {
                width: 100%;
                margin-bottom: 12px;
            }
    
            .trial-describtion {
                color: $ui-color-light-gray;
                text-align: $ui-text-align-center;
                font-family: "Montserrat-Regular";
                font-size: $ui-font-size-sm;
                line-height: 14px;
            }
        }
    }
}

.opened .header__burger-menu-btn-lines {
    background-color: transparent;
}

.opened .header__burger-menu-btn-lines::before {
    top: 1px;
    right: -1px;
    width: 26px;
    transform: rotate(45deg);
}

.opened .header__burger-menu-btn-lines::after {
    top: 1px;
    transform: rotate(-45deg);
}

.opened .header__nav-menu {
    display: flex;
}

.header__nav-menu.hidden {
    display: none;
}
