@import "../_variables/variables";

.services {
  padding: 94px 0 33px;
  background: #F4F4F4;
  position: relative;
  .container {
    @media screen and (min-width: $ui-breakpoint-xl-min) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 90px 1fr;
      gap: 20px;
    }
    @media screen and (min-width: $ui-breakpoint-xxl-min) {
      grid-template-rows: 50px 1fr;
    }
  }

  &__title {
    color: #8D81AC;
    text-align: $ui-text-align-center;
    font-family: 'Montserrat-Bold';
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 36px;
    @media screen and (min-width: $ui-breakpoint-sm-min) {
      font-size: 42px;
      margin-bottom: 50px;
    }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
      margin-bottom: 0;
    }
    @media screen and (min-width: $ui-breakpoint-xxl-min) {
      grid-column: 2/3;
      font-size: 48px;
    }
  }

  &__list {
    text-align: $ui-text-align-center;
    margin-bottom: 58px;

    &__item {
      margin-bottom: 38px;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        margin-bottom: 27px;
        @media screen and (min-width: $ui-breakpoint-sm-min) {
          margin-right: 23px;
        }
      }

      &__description {
        &__title {
          font-size: 16px;
          font-family: 'Montserrat-Regular';
          line-height: 16px;
          margin-bottom: 14px;
        }

        &__inner {
          font-family: 'Lato-Regular';
          color: $ui-color-light-gray;
          font-size: $ui-font-size-sm;
          line-height: 21px;
        }

        @media screen and (min-width: $ui-breakpoint-sm-min) {
          width: 80%;
        }
        @media screen and (min-width: $ui-breakpoint-xxl-min) {
          width: 75%;
        }
      }

      @media screen and (min-width: $ui-breakpoint-sm-min) {
        display: flex;
        justify-content: space-between;
      }
    }

    @media screen and (min-width: $ui-breakpoint-sm-min) {
      text-align: $ui-text-align-left;
    }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
      margin-right: 30px;
      grid-column: 1 / 2;
      grid-row: 1/2;
    }
  }

  &__image {
    position: relative;
    height: 381px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 33px;
      right: -15px;
      background: url("../images/editor.png") no-repeat;
      background-size: contain;
      height: 381px;
      width: 317px;
      @media screen and (min-width: $ui-breakpoint-sm-min) {
        background: url("../images/editor2.png") no-repeat;
        background-size: cover;
        width: 100%;
        height: 519px;
      }
      @media screen and (min-width: $ui-breakpoint-md-min) {
        background-size: contain;
        width: 700px;
      }
      @media screen and (min-width: $ui-breakpoint-xl-min) {
        width: 50%;
        background-size: cover;
      }
    }

    @media screen and (min-width: $ui-breakpoint-sm-min) {
      height: 519px;
    }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
      position: static;
      display: inline-block;
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
}