@import "../_variables/variables";

.price {
  background: #4b3b4e url("../images/price-bg.png") no-repeat;
  background-size: cover;
  padding: 14px 0;
  text-align: $ui-text-align-center;
  @media screen and (min-width: $ui-breakpoint-md-min) {
    background: #4b3b4e url("../images/price-bg_767.png") no-repeat;
    padding: 90px 0 94px;
    background-size: cover;
  }
  &__title {
    color: $ui-color-white;
    font-size: 28px;
    font-family: 'Montserrat-Bold';
    margin-bottom: 32px;
    position: relative;
    @media screen and (min-width: $ui-breakpoint-md-min) {
      font-size: 42px;
      margin-bottom: 39px;
    }
  }
  &__cards {
    &__item {
      background: rgba(255, 255, 255, 0.11);
      padding: 0 0 67px;
      color: $ui-color-white;
      font-family: 'Montserrat-Regular';
      max-width: 257px;
      margin: 0 auto 18px;
      &:last-child {
        @media screen and (min-width: $ui-breakpoint-md-min) {
          height: fit-content;
          position: relative;
          transform: translate(0, 10%);
        }
        @media screen and (min-width: $ui-breakpoint-xl-min) {
          transform: translate(0, 0);
        }
      }
      @media screen and (min-width: $ui-breakpoint-md-min) {
        padding: 0 0 36px;
        width: 257px;
        margin-right: 0;
        margin-bottom: 0;
        &:first-child {
          .price__cards__item__license {
            margin-bottom: 68px;
            @media screen and (min-width: $ui-breakpoint-xl-min) {
              margin-bottom: 55px;
            }
          }

        }
      }
      @media screen and (min-width: $ui-breakpoint-xl-min) {
        height: fit-content;
        margin: auto;
      }
      &__title {
        padding: 36px 0;
        background: rgba(255, 255, 255, 0.06);
        text-transform: $ui-text-transform;
        margin-bottom: 30px;
        &__inner {
          font-weight: 400;
          font-size: 24px;
        }
      }
      &__cost {
        font-family: 'Montserrat-Bold';
        margin-bottom: 20px;
        font-size: 60px;
        text-transform: $ui-text-transform;
        line-height: 62px;
        span {
          font-family: "Montserrat-Regular";
          font-weight: 400;
        }
      }
      &__term {
        font-size: 14px;
        margin-bottom: 73px;
        position: relative;
        text-transform: $ui-text-transform;
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -38px;
          left: 99px;
          width: 60px;
          height: 5px;
          background: #8D81AC;
        }
      }
      &__license {
        font-size: 16px;
        margin-bottom: 37px;
        span {
          display: inline-block;
          line-height: 28px;
          @media screen and (min-width: $ui-breakpoint-md-min) {
            line-height: 18px;
          }
        }
      }
      &__purchase {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 25px;
        padding: 15px 37.5px;
        font-size: 15px;
        text-transform: $ui-text-transform;
        border: none;
        color: $ui-color-white;
        cursor: pointer;
        display: inline-block;
      }
      &.dark-active {
        background: rgba(70, 48, 72, 0.84);
        max-width: 299px;
        @media screen and (min-width: $ui-breakpoint-md-min) {
          width: 299px;
        }
        .price__cards__item__title {
          background: rgba(0, 0, 0, 0.11);
          padding: 43px 97px;
          margin-bottom: 14px;
        }
        .price__cards__item__cost {
          font-size: 82px;
          margin-bottom: 16px;
          line-height: 84px;
        }
        .price__cards__item__term {
          margin-bottom: 91px;
          &:after {
            left: 115px;
          }
        }
        .price__cards__item__license {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          margin-bottom: 83px;
        }
        .price__cards__item__purchase {
          padding: 18.5px 48px;
        }
      }
    }
    @media screen and (min-width: $ui-breakpoint-md-min) {
      max-width: 585px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      max-width: 100%;
    }
  }
}