@import "../_variables/variables";
@import "../_mixin/mixins";

.description {
  padding: 44px 0 88px;
  font-family: 'Montserrat-Bold';
  text-align: $ui-text-align-center;
  &__title {
    color: #635C73;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    @media screen and (min-width: $ui-breakpoint-s-min) {
      margin-bottom: 27px;
      font-size: 26px;
    }
    @media screen and (min-width: $ui-breakpoint-sm-min) {
      font-size: $ui-font-size-sm-title;
    }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
      font-size: $ui-font-size-xl-title;
    }
  }
  &__text {
    font-family: 'Lato-Regular';
    color: $ui-color-dark-gray;
    @media screen and (min-width: $ui-breakpoint-s-min) {
      margin-bottom: 36px;
      font-size: $ui-font-size-sm;
    }
    @media screen and (min-width: $ui-breakpoint-sm-min) {
      font-size: 21px;
      line-height: 32px;
      margin-bottom: 24px;
    }
  }
  &__btn {
    @include flex-center;
    &__inner {
      @include flex-between;
      background: #f6f8fa;
      border: 1px solid rgba(31,35,40,0.15);
      border-radius: 6px;
      font-weight: 500;
      padding: 0;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
        @media screen and (min-width: $ui-breakpoint-sm-min) {
          margin-bottom: 20px;
        }
      }
      @media screen and (min-width: $ui-breakpoint-sm-min) {
        margin-right: 6px;
      }
      @media screen and (min-width: $ui-breakpoint-s-min) {
        &:first-child {
          margin-right: 6px;
        }
      }
      &__users {
        margin-left: 2px;
        border-radius: 2em;
        background: rgba(31,35,40,0.08);
        padding: 0 6px;
        font-size: 12px;
      }
      &-left {
        padding: 3px 5px;
        @include flex-between;
        svg {
          margin-right: 8px;
        }
      }
      &-right {
        padding: 3px 12px;
        border-left: 1px solid rgba(31,35,40,0.15);
        .dropdown-caret {
          margin-left: 4px;
          opacity: .8;
          border-bottom-color: #0000;
          border-left-color: #0000;
          border-right-color: #0000;
          border-style: solid;
          border-width: max(4px, 0.25rem) max(4px, 0.25rem) 0;
          content: "";
          display: inline-block;
          height: 0;
          vertical-align: middle;
          width: 0;
        }
      }
    }
    @media screen and (min-width: $ui-breakpoint-s-min) {
      max-width: $ui-breakpoint-s-min;
      margin: 0 auto;
    }
    @media screen and (min-width: $ui-breakpoint-sm-min) {
      max-width: $ui-breakpoint-md-min;
    }
  }
}


.container__content {
  max-width: 273px;
  margin: 0 auto;
  @media screen and (min-width: $ui-breakpoint-sm-min) {
    max-width : 689px;
  }
  @media screen and (min-width: $ui-breakpoint-xl-min) {
    max-width: 906px;
  }
}