@import "../_variables/variables";
.testimonials {
    position: relative;
    padding-top: 57px;
    padding-bottom: 22px;
    background: url('../images/Section_Testimonials/testmonials-bg_mobile.png') center/cover no-repeat;

    @media screen and (min-width: 540px) {
        background: url('../images/Section_Testimonials/testmonials-bg_tablet.png') center/cover no-repeat;
    }
    @media screen and (min-width: $ui-breakpoint-md-min) {
        padding-top: 85px;
        padding-bottom: 20px;
    }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
        padding-top: 108px;
        padding-bottom: 15px;
        background: #4b3b4e url('../images/Section_Testimonials/testmonials-bg_desktop.png') center/cover no-repeat;
        background-origin: padding-box;
    }

    &::after {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 76.6%;
        height: 2px;
        background-color: #645766;
    }

    &__title {
        color: $ui-color-white;
        text-align: $ui-text-align-center;
        font-family: "Montserrat-Bold";
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 53px;
        @media screen and (min-width: $ui-breakpoint-md-min) {
            font-size: 42px;
            font-weight: 700;
            line-height: 44px;
        }
        @media screen and (min-width: $ui-breakpoint-xl-min) {
            font-size: 48px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 82px;
        }
    }

    &__content {
        @include grid-center-center;
        padding: 0px 15px;
        grid-template-columns: minmax(270px, 290px);
        grid-template-rows: repeat(6, minmax(147px, auto));
        row-gap: 45px;
        margin: 0 auto;
        // margin-bottom: 29px;
        @media screen and (min-width: 540px) {
            grid-template-columns: repeat(2, minmax(230px, 290px));
            grid-template-rows: repeat(3, minmax(200px, auto));
            row-gap: 52px;
            column-gap: 40px;
            align-items: baseline;
        }
        @media screen and (min-width: $ui-breakpoint-md-min) {
            grid-template-columns: repeat(2, minmax(306px, 324px));
            grid-template-rows: repeat(3, minmax(125px, auto));
            row-gap: 58px;
            // margin-bottom: 58px; 
        }
        @media screen and (min-width: $ui-breakpoint-xl-min) {
            grid-template-columns: repeat(3, minmax(300px, 324px));
            grid-template-rows: repeat(2, minmax(123px, auto));
            row-gap: 112px; 
        }
        
        &-card {
            @include flex-column;
            gap: 25px;
            &__text {
                color: $ui-color-white;
                text-align: $ui-text-align-center;
                font-family: "Lato-BoldItalic";
                font-size: 16px;
                font-style: italic;
                font-weight: 700;
                line-height: 24px;
            }
        }
    }

    &__description {
        max-width: 90%;
        color: #A291A5;
        text-align: $ui-text-align-center;
        font-family: "Lato-Regular";
        font-size: 14px;
        line-height: 21px;
        @media screen and (min-width: 540px) {
            grid-column: span 2;
        }
        @media screen and (min-width: $ui-breakpoint-xl-min) {
            grid-column: span 3;
            padding: 0 80px;
        }
    }
}