$ui-color-purple-blue: #8D81AC;
$ui-color-gray-blue: #27262A;
$ui-color-dark-gray: #323232;
$ui-color-light-gray: #848e97;
$ui-color-white: #ffffff;

$ui-text-align-center: center;
$ui-text-align-left: left;
$ui-text-transform: uppercase;

$ui-font-size-sm: 14px;
$ui-font-size-sm-title: 42px;
$ui-font-size-xl-title: 54px;

$ui-breakpoint-xxl-min: 1200px;
$ui-breakpoint-xl-min: 993px;
$ui-breakpoint-md-min: 768px;
$ui-breakpoint-sm-min: 481px;
$ui-breakpoint-s-min: 320px;

$ui-transition-dur: 0.4s;

$ui-index-1: 1; // Для наповзаючих єлементів в блоці
$ui-index-2: 2; // Для наповзаючих єлементів в блоці
$ui-index-3: 3; // Для наповзаючих єлементів в блоці
$ui-index-4: 4; // Для наповзаючих єлементів в блоці
$ui-index-5: 5; // Для наповзаючих єлементів в блоці
